
$mainColor: #340C0C;
$lightColor: #FFF3EC;
$secondaryColor: #5C302F;
$accentColor: #EEC9AF;
$sansFont: 'Outfit', sans-serif;
$serifFont: 'Marcellus', serif;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin sansStyle($theme: $mainColor) {
    font-family: $sansFont;
    font-weight: lighter;
    color: $theme;
}

@mixin serifStyle($theme: $mainColor) {
    font-family: $serifFont;
    color: $theme;
}

@mixin buttons {
    width: 2%;
      height: 5%;
      position: absolute;
      cursor: pointer;
      z-index: 3;
      border: none;
      background: none;
}

a {
    text-decoration: none;
    color: $lightColor;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.header {
    background-image: linear-gradient($mainColor, $secondaryColor);
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.menu {
    justify-content: space-between;
}

.list {
    list-style: none;

    &__item {
        margin-top: 3px;
        margin-left: 40px;
        color: #FFF3EC;
        @include sansStyle($theme: $lightColor);
        text-align: center;

        &:hover {
            transform: scale(1.1);
            font-weight: normal;
            cursor: pointer;
            color: $accentColor;
        }
    }
}

#logo {
    width: fit-content;
    height: 25px;
}

.icons__item {
    width: fit-content;
    height: 25px;
    margin-right: 30px;
    object-fit: cover;

    &:hover {
        transform: scale(1.2);
    }

    &--menu {
        display: none;
    }
}

.slider {
  
  height: 700px;
  width: 100%;
  background-color: $mainColor;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  overflow: hidden;
  transition: background-color 2s;

  &__nav{
    .next{
        @include buttons();
    }
    .prev {
        @include buttons();
    }

    .next {
      right: 50px;
      width: 3.5%;
      height: 5.7%;
      background-image: url("../images/arrow 1.png");
      &:hover {
        transform: translateX(0.5rem);
      }
    }

    .prev {
      left: 50px;
      width: 3.5%;
      height: 5.7%;
      background-image: url("../images/arrow 2.png");

      &:hover {
        transform: translateX(-0.5rem);
      }
    }
  
    .gotoBtn {
      z-index: 4;
      position: absolute;
      bottom: 10%;
      left: 43%;
      width: 15%;
      text-align: center;
      padding: 20px;
      border: solid 2px $accentColor;
      background: transparent;
      color: $accentColor;
      transition: background-color 0.3s;
      cursor: pointer;

      &:hover {
        color: $mainColor;
        background: $accentColor;
      }
    }
  }
}

.category  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content{
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.15;
    font-size: 8em;

    &__title{
        text-align: center;
        width: 100%;
        max-width: 600px;
        line-height: 1;
        font-family: $serifFont;
        color: $lightColor;
    }
    }

    &__imgs{
        
        position: absolute;
        width: 60%;
        padding-top: 60%;
    
        &__grid {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: grid;
            grid-column-gap: 32px;
            grid-row-gap: 32px;
            transform: rotate(-20deg);

            &__img {
                width: 100%;
                height: 100%;
                position: relative;
                will-change: transform;
                img {
                  position: absolute;
                  top: 0;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
              .img-1 {
                grid-area: 1 / 1 / 7 / 5;
              }
              .img-2 {
                grid-area: 2 / 5 / 7 / 13;
              }
              .img-3 {
                grid-area: 7 / 1 / 12 / 9;
              }
              .img-4 {
                grid-area: 7 / 9 / 13 / 13;
              }

          }
    }

    

}

.category:not(.is-active) {
  opacity: 0;
  pointer-events: none;
}
