* {
    box-sizing: border-box;
}

.header {
    background-color: #5C302F;
    display: flex;
    align-items: center;

}

.menu {
    display: flex;
    align-content: center;
}

.logo {
    height: 25px;
    margin-left: 15px;
}

.list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.icons {
    height: 25px;
}