$mainColor: #340C0C;
$lightColor: #FFF3EC;
$secondaryColor: #5C302F;
$accentColor: #EEC9AF;
$sansFont: 'Outfit', sans-serif;
$serifFont: 'Marcellus', serif;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $lightColor;
}

ul {
    list-style: none;
}

@mixin sansStyle($theme: $mainColor) {
    font-family: $sansFont;
    font-weight: lighter;
    color: $theme;
}

@mixin serifStyle($theme: $mainColor) {
    font-family: $serifFont;
    color: $theme;
}

@mixin hover () {
    background-color: $secondaryColor;
    color: $accentColor;
    font-weight: normal;
}

.flex {
    display: flex;
}

.header {
    background-image: linear-gradient($mainColor, $secondaryColor);
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.menu {
    justify-content: space-between;
}

.list {
    list-style: none;

    &__item {
        margin-top: 3px;
        margin-left: 40px;
        color: #FFF3EC;
        @include sansStyle($theme: $lightColor);
        text-align: center;

        &:hover {
            transform: scale(1.1);
            font-weight: normal;
            cursor: pointer;
            color: $accentColor;
        }
    }
}

#logo {
    width: fit-content;
    height: 25px;
}

.icons__item {
    width: fit-content;
    height: 25px;
    margin-right: 30px;
    object-fit: cover;

    &:hover {
        transform: scale(1.2);
    }

    &--menu {
        display: none;
    }
}

.registration {
    position: relative;
    top: 150px;
    margin-left: 50px;

    &__title {
        @include serifStyle();
        font-size: 1.8em;
        margin-bottom: 40px;
    }

    &__label {
        @include sansStyle();
        font-weight: normal;
    }
    
    &__input {
        display: block;
        @include sansStyle();
        font-size: 1em;
        border: solid 2px $mainColor;
        padding: 5px;
        width: 35%;
        height: 40px;
        margin-top: 5px;
        margin-bottom: 18px;
    }

    &__registration {
        display: block;
        text-decoration: underline;
        @include sansStyle($theme: $secondaryColor);
        font-size: 1em;
        margin: 15px 0;
        background-color: transparent;
        border: none;

        &--hide {
            display: none;
        }
    }

    &__submit {
        @include sansStyle($theme: $accentColor);
        background-color: $secondaryColor;
        border: 2px solid $secondaryColor;
        padding: 10px 40px;
        width: 35%;
        margin-top: 10px;
        font-weight: lighter;
        cursor: pointer;

        &:hover {
            border: 2px solid #340C0C;
            background-color: #340C0C;
            font-weight: normal;
        }
    }

    &__background {
        position: absolute;
        top: -100px;
        right: 0px;
        width: 58%;
    }

    &__decor {
        position: absolute;
        top: -90px;
        right: 56%;
        height: 300px;
    }
}

.signup {
    display: none;

    &--show {
        display: block;
    }
}

.login {
    display: block;

    &--hide {
        display: none;
    }
}