/*Tablet*/
@media all and (max-width: 1180px) {
    /*Header section*/
    .list {
        display: none;
    }

    .icons__item--menu {
        display: inline;
        height: 20px;
    }

    /*Banner section*/
    .banner {
        height: 550px;
    }

    .banner__title {
        font-size: 2.4em;
    }

    .banner__subtitle {
        font-size: 1em;
    }

    /*Best sellers section*/
    .title {
        margin-top: 80px;
    }

    .shop__list {
        flex-wrap: wrap;
        height: fit-content;
        padding: 20px 0;
    }

    .shop__item {
        width: 100%;
        height: 500px;
        display: flex;
        padding: 0;
        align-items: flex-end;
        margin-bottom: 35px;
    }

    .shop__img {
        width: 380px;
        object-fit: cover;
    }

    .shop__info {
        align-items: flex-end;
        padding: 20px;
        margin-bottom: 30px;
    }

    .shop__block {
        height: 90%;
    }

    /*Foundation shade section*/
    .shade {
        flex-wrap: wrap;
    }

    .shade__column--first {
        width: 100%;
    }

    .title--foundation {
        margin-top: 80px;
    }

    .shade__info {
        width: 100%;
    }

    .shade__slider {
        width: 100%;
    }

    .shade__column--second {
        width: 100%;
    }

    .shade__foundation {
        width: 230px;
        height: 330px;
        left: 20px;
    }

    .shade__model {
        width: 450px;
        margin: 90px 270px 0;
    }

    .background__left {
        width: 30%;
        bottom: -130px;
    }

    .background__bottom {
        width: 40%;
        bottom: -140px;
    }

    .background__right {
        width: 20%;
        top: -70px;
    }

    /*Newsletter*/
    .title--newsletter {
        top: -22%;
    }

    .newsletter__info {
        width: 70%;
    }

    .newsletter__input {
        width: 50%;
    }

    .newsletter__terms {
        width: 80%;
    }

    /*Footer section*/
    .payment {
        width: 70%;
    }
}

/*Cellphone*/
@media all and (max-width: 420px) {
    /*Header section*/
    .icons__item {
        display: none;
    }

    .icons__item--menu {
        display: block;
    }

    /*Banner section*/
    .banner {
        width: 100%;
    }

    .banner__img {
        object-fit: cover;
    }

    .banner__title {
        font-size: 2em;

    }

    .banner__subtitle {
        font-size: 0.8em;
        top: 91%;
    }

    /*Shop section*/
    .shop {
        padding: 0 30px;
    }

    .title {
        font-size: 1.8em;
        margin-top: 50px;
    }

    .shop__item {
        flex-direction: column;
        align-items: center;
        margin-bottom: 170px;
        height: 520px;
    }

    .shop__product {
        margin-top: 10px;
    }

    .shop__block {
        height: 93%;
    }

    /*Foundation section*/
    .shade {
        padding: 0 30px;
    }

    .shade__match {
        padding: 10px 25px;
    }

    .shade__buy {
        padding: 10px 25px;
    }

    .shade__column--second {
        width: 100%;
    }

    .shade__foundation {
        width: 160px;
        height: 230px;
        object-fit: cover;
        left: -5px;
        top: 40px;
    }

    .shade__model {
        margin: 140px 100px 50px;
        width: 280px;
    }

    .background__left {
        width: 180px;
        left: 0;
        bottom: -100px;
    }

    .background__right {
        width: 120px;
        top: -50px;
    }

    .background__bottom {
        width: 180px;
        bottom: -80px;
    }

    /*Newsletter section*/
    .title--newsletter {
        top: -35px;
    }

    .newsletter__discount {
        margin-top: 30px;
    }

    .newsletter__info {
        width: 330px;
    }

    .newsletter__terms {
        width: 330px;
    }

    .newsletter__input {
        width: 240px;
    }

    /*Footer section*/
    .footer ul {
        flex-direction: column;
    }

    .footer__column {
        flex-wrap: wrap;
    }

    .footer__column--second {
        display: none;
    }

    .payment {
        width: 100%;
    }
}